# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Jest / coverage
coverage/
.jest/
.cache/

# Test results
TestResults/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

